body {
    background-color: deepskyblue;
    font-family: Georgia, 'Times New Roman', Times, serif, Helvetica, sans-serif;
}
h1 {
    color: rgb(0, 0, 247);
    text-align: center;
}
.projects { 
display:flex; 
flex-wrap:wrap; } 
.project {
width: 30%;
margin: 10px;
padding: 20px 10px;
background: rgb(174, 5, 135); 
border-radius: 35%;
}
.project img{
    width: 300px;
    height: 300px;
    margin: 10px;
    border: 2px solid rgb(18, 175, 223); /* choose a color */
    display: block;
    margin: auto;
    }

    .about p {
        width:50%;
        text-align: center;
        margin: auto;
        line-height: 125%;
        }
        .about img {
        width: 150px;
        height: 200px;
        border-radius: 35%;
        border: 2px solid rgb(6, 129, 178);
        }
        